<!DOCTYPE html>
<html>
<head>
	<title>POWER HOP HUMANITY NATURE FREEDOM</title>
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="../Resouces/Css/BaseSS.css"><!--P@css-1;-->
	<link rel="stylesheet" type="text/css" href="../Resouces/Css/jquery.mCustomScrollbar.css"><!--P@css-1;-->
	<script type="text/javascript" src="../Resouces/Js/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="../Resouces/Js/mCustomScrollbar.concat.min.js"></script>
	<script type="text/javascript" src="../Resouces/Js/BaseJs.js"></script>
	<script type="text/javascript" src="../Resouces/Js/JnfinityUnite.js"></script>
</head>
<body>
	<div id="ph2nf"></div>
	<div class="header fl">
		<ul class="topnavigate fr">
			<li><a class="ant05 _key" href="#">TODAY</a></li>
			<li><a class="ant05 _key" href="#">PROJECT</a></li>
			<li><a class="ant05 _key" href="#">DISCUSS</a></li>
			<li><a class="ant05 _key" href="#">SUPPORT</a></li>
		</ul>
		<div class="clv"></div>
	</div>
	<div class="bodycontent fl cn_preview">
		<div class="cn_content">
			<div id="TM" class="TimeMachine_time fl">
				<ul class="TM_timeline">
					<li><p>2013</p></li>
					<li><p>2013</p></li>
					<li><p>2013</p></li>
					<li><p>2013</p></li>
					<li><p>2013</p></li>
					<li><p>2013</p></li>
			    </ul>
			</div>
			<div class="searchs fr"><input type="text" name="textS"/><input type="button" name="butS"/></div>
			<div class="bodycontent_navigate fl">
				<ul>
					<h3 class="light">Tags</h3>
					<li><a href="#" style="font-size:13px;color:red;float:left;margin-left:15px">Java</a></li>
					<li><a href="#" style="font-size:19px;color:yellow;float:left;margin-left:15px">PHP</a></li>
					<li><a href="#" style="font-size:11;color:blue;float:left;margin-left:15px">C#</a></li>
					<li><a href="#" style="font-size:14;color:#009e9e;float:left;margin-left:15px">C++</a></li>
					<li><a href="#" style="font-size:20;color:red;float:left;margin-left:15px">Object C</a></li>
					<li><a href="#" style="font-size:15;color:yellow;float:left;margin-left:15px">IOS</a></li>
					<li><a href="#" style="font-size:17;color:#009e9e;float:left;margin-left:15px">Window</a></li>
					<li><a href="#" style="font-size:11;color:red;float:left;margin-left:15px">Ph2nf</a></li>
					<div class="clv"></div>
				</ul>
				<ul>
					<h3 class="light">Categories</h3>
					<li><a href=""></a></li>
				</ul>
			</div>
			<div class="bodycontent_main fl">
				<div class="TM_contentbody">
					<div class="TM_article_001 canselect">
						<h2 class="light">This is my first Article!<p>Comments<span>(100)</span></p><div class="clv"></div></h2>
						<p>Posted by<span>Owner</span>Filed under<span>article</span><span>2013-5-12</span></p>
						<p class="light">Most of the conversations I had started the same way: "So, OK, performance," I said, "what does it mean to you?" Most of the time the developer would say something along the lines of "Oh, umm, concatenation, minification, JavaScript." and that's entirely what I expected, but it's a huge skew towards only a part of the browser's frame lifecycle.</p>
						<p>Share<span>fb</span><span>tt</span><span>wb</span><span style="float:right;margin-right:0">Read More<span style="margin-right:0">(10000)</span></span></p>
					</div>
					<div class="TM_article_001">
						<h2 class="light">This is my first Article!<p>Comments<span>(100)</span></p><div class="clv"></div></h2>
						<p>Posted by<span>Owner</span>Filed under<span>article</span><span>2013-5-12</span></p>
						<p class="light">Most of the conversations I had started the same way: "So, OK, performance," I said, "what does it mean to you?" Most of the time the developer would say something along the lines of "Oh, umm, concatenation, minification, JavaScript." and that's entirely what I expected, but it's a huge skew towards only a part of the browser's frame lifecycle.</p>
						<p>Share<span>fb</span><span>tt</span><span>wb</span><span style="float:right">Read More</span></p>
					</div>
					<div class="TM_article_001">
						<h2 class="light">This is my first Article!<p>Comments<span>(100)</span></p><div class="clv"></div></h2>
						<p>Posted by<span>Owner</span>Filed under<span>article</span><span>2013-5-12</span></p>
						<p class="light">Most of the conversations I had started the same way: "So, OK, performance," I said, "what does it mean to you?" Most of the time the developer would say something along the lines of "Oh, umm, concatenation, minification, JavaScript." and that's entirely what I expected, but it's a huge skew towards only a part of the browser's frame lifecycle.</p>
						<p>Share<span>fb</span><span>tt</span><span>wb</span><span style="float:right">Read More</span></p>
					</div>
				</div>
			</div>
			<div class="bodycontent_list fr">
				<div class="bodycontent_list_topread">
					<ol>Top&nbsp;5&nbsp;Read
						<li><a href=""><p>So Most of the conversations I had started the same way</p></a></li>
						<li><a href=""><p>在Word中,拥有长单词自动断字的功能。那么如何实现禁止长单词自动断字呢</p></a></li>
						<li><a href=""><p>Most of the conversations I had started the same way</p></a></li>
						<li><a href=""><p>Most of the conversations I had started the same way</p></a></li>
						<li><a href=""><p>Most of the conversations I had started the same way</p></a></li>
					</ol>
				</div>
				<div class="bodycontent_list_latest">
					<ol>Latest
						<li><a href=""><p>Most of the conversations I had started the same way</p></a></li>
						<li><a href=""><p>Most of the conversations I had started the same way</p></a></li>
						<li><a href=""><p>Most of the conversations I had started the same way</p></a></li>
						<li><a href=""><p>Most of the conversations I had started the same way</p></a></li>
						<li><a href=""><p>Most of the conversations I had started the same way</p></a></li>
						<li><a href=""><p>Most of the conversations I had started the same way</p></a></li>
						<li><a href=""><p>Most of the conversations I had started the same way</p></a></li>
						<li><a href=""><p>Most of the conversations I had started the same way</p></a></li>
					</ol>
				</div>
				<div class="bodycontent_list_mostcomm">
					<ol>Most&nbsp;Commented
						<li><a href=""><p>Most of the conversations I had started the same way</p></a></li>
						<li><a href=""><p>Most of the conversations I had started the same way</p></a></li>
						<li><a href=""><p>Most of the conversations I had started the same way</p></a></li>
						<li><a href=""><p>Most of the conversations I had started the same way</p></a></li>
						<li><a href=""><p>Most of the conversations I had started the same way</p></a></li>
						<li><a href=""><p>Most of the conversations I had started the same way</p></a></li>
						<li><a href=""><p>Most of the conversations I had started the same way</p></a></li>
						<li><a href=""><p>Most of the conversations I had started the same way</p></a></li>
					</ol>
				</div>
			</div>
			<div class="clv"></div>
		</div>
		<div class="cn_content">
			<div class="project_navigate fl"></div>
			<ul class="fl">
				<p>Projict&nbsp;Information</p>
				<li>
					<p>Labels</p>
					<p><span>net</span>,<span>c++</span>,<span>php</span></p>
				</li>
				<li>
					<p>Directions</p>
					<p>要使得 text-align 的 justify 两端对齐生效，需要在汉字间插入有空白，如空格；</p>
				</li>
				<li>
					<p>License</p>
					<p>要使得 text-align 的 justify 两端对齐生效，需要在汉字间插入有空白，如空格；</p>
				</li>
				<li>
					<p>Nembers</p>
					<p><a href="">somebody</a></p>
					<p><a href="">somebody</a></p>
					<p><a href="">somebody</a></p>
					<p><a href="">somebody</a></p>
					<p><a href="">somebody</a></p>
				</li>
				<li>
					<div class="project_download fr"></div>
				</li>
			</ul>
			<div class="bodycontent_main fl"></div>
			<!-- <div class="searchs fr"><input type="text" name="textS"/><input type="button" name="butS"/></div> -->
			<div class="clv"></div>
		</div>
		<div class="cn_content">
			<div class="headlines fl">
				<div class="fl">
					<ul class="headlines_title fr">
						<li><a class="headlines_title_key" href="#">Top&nbsp;Top</a></li>
						<li><a class="headlines_title_key" href="#">New&nbsp;Discussion</a></li>
						<li><a class="headlines_title_key" href="#">Most&nbsp;Discussion</a></li>
					</ul>
					<div class="clv"></div>
				</div>
				<div class="headlines_content fl">
					<div class="headlines_content_c">
						<h2>this is a test!</h2>
						<h3>this is a test!</h3>
						<h4>this is a test!</h4>
						<h5>this is a test!</h5>
						<h2 class="light">this is a test!</h2>
						<h3 class="light">this is a test!</h3>
						<h4 class="light">this is a test!</h4>
						<h5 class="light">this is a test!</h5>
					</div>
					<div class="headlines_content_c">
						<h2 class="big">this is a test!</h2>
					</div>
					<div class="headlines_content_c">
						<h2 class="biger">this is a test!</h2>
					</div>
				</div>
				<div class="clv"></div>
			</div>
			<div class="bodycontent_navigate fl">
				<ul>
					<h3 class="light">Tags</h3>
					<li><a href=""></a></li>
				</ul>
				<ul>
					<h3 class="light">Categories</h3>
					<li><a href=""></a></li>
				</ul>
			</div>
			<div class="bodycontent_main fl"></div>
			<div class="clv"></div>
		</div>
		<div class="cn_content">
		    <div class="bodycontent_navigate"></div>
		    <div class="bodycontent_main fl"></div>
			<div class="clv"></div>
		</div>
	</div>
	<div class="footer fl">
		<div class="footercontent">
			
		</div>
	</div>
	<div class="clv"></div>
</body>
</html>